body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a6/Edgar_Allan_Poe_%281809_-_1849%29.jpg'); 
    background-size: cover; 
    font-family: 'Times New Roman', Times, serif; 
    text
    color: #333; 
    margin: 0;
    padding: 0;
}

/* Hey! I just woke up. Remember to look for the next comment*/

header {
    background-color: #ffffff; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

footer {
    background-color: #ecf0f1;
    color: #fafcfd; 
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* Here is the second comment!*/

nav a {
    text-decoration: none;
    color: #092334; 
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block; 
    margin: 5px; 
}

h1 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 45px; 
    font-weight: bolder;
    color: #891717; 
    text-align: center; 
    margin-bottom: 20px; 
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px; 
    font-weight: 900;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #e1ff01;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 4px solid #000000;
    background-color: aqua;
}
